<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Guy Koren</title>


    <!--Angular Material-->
    <link rel="stylesheet" href="../bower_components/angular-material/angular-material.css">
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/angular-aria/angular-aria.js"></script>
    <script src="../bower_components/angular-animate/angular-animate.js"></script>
    <script src="../bower_components/angular-material/angular-material.js"></script>
    <script src="../bower_components/jquery/dist/jquery.min.js"></script>
    <!--My JS files-->
    <script src="scripts/main.js"></script>
    <!--My CSS files-->
    <link rel="stylesheet" href="styles/style.css">
</head>
<body ng-controller="MainController" ng-app="GuyLanding">

<div ng-cloak>
    <md-content>
        <md-toolbar layout="row" class="md-whiteframe-6dp toolbar">
            <div layout="row" layout-align="center center" class="md-toolbar-tools" dir="rtl" ng-repeat="tab in tabs"  label="{{tab.name}}">
                <md-button class="nav-button" ng-click="goToByScroll(tab.id)">{{tab.name}}</md-button>
            </div>
    </md-content>
    <div ng-repeat="view in views">
        <div class="view" ng-include="view.view+'.html'"></div>
    </div>
</div>

</body>
</html>