.logo {
    height: 20vh;
    min-width: 18vh !important;
}

.tab {
    color: #000;
    font-size: 1vw;
    text-align: center;
    padding-right: 10px;
    padding-left: 10px;
    width: 100%;
    display: block;
    text-decoration: none;
}

.section {
    margin-top: 0;
    z-index: 5;
    margin-bottom: 4%;
    width: 1199px;
    max-width: 100vw;
}

.about_content {
    margin-right: 4%;
}

.about {
    padding-left: 4%;
    padding-right: 4%;
}

.branches {
    margin-bottom: 5px;
    padding-right: 4%;
}

.profile {
    width: 150px;;
}

.banner {

}

.plans {
    margin-bottom: 0;
    padding-bottom: 5vh;
    padding-top: 5vh;
    background-color: #000000;
}

.plans_item {

}

.plans_pre {
    margin-bottom: 0;
    background: #1A3042;
    padding-bottom: 5vh;
    padding-top: 5vh;
}

.red_title {
    font-weight: bolder;
    color: #87162C;
}

.black_anchor {
    font-size: 1vw;
    color: #000;
    font-weight: bolder;
}

.white_anchor {
    font-size: 1vw;
    color: #ffffff;
    font-weight: bolder;
}

.yellow_title {
    color: #FFDA63;
}

.red_background {
    background-color: #87162C;
}

.white_text {
    color: #ffffff;
}

.bagrut {
    margin-bottom: 0;
    padding-bottom: 7vh;
    padding-top: 5vh;
}

.text_content {
    text-align: center;
    direction: rtl;
}

.gray_background {
    background-color: #8B8E90;
    margin-bottom: 0;
    padding-bottom: 5vh;
    padding-top: 5vh;
}

.stuff {
    margin-bottom: 0;
    padding-bottom: 5vh;
    padding-top: 5vh;
    background-color: #87162C;
}

.bar_wrapper {
    background-color: #ffffff;
    width: 100vw;
    max-width: 100vw;
    left: 0;
    top: 0;
    z-index: 0;
    position: absolute;
    height: 30vh;
    padding-left: 3vw;
    padding-right: 3vw;
}

.content {
    z-index: 5;
}

.bar_content_wrapper {
    padding-top: 7vh;
}

.cool_hr {
    margin-bottom: 0;
    padding-bottom: 0;
    display: block;
    height: 3px;
    border: 3px;
    border-top: 2px solid #87162C;
    padding: 0;
}

.no_margin_h3 {
    margin-top: 8px;
    margin-bottom: 0;
}

body .main_wrapper {
    background-color: #FAFAFA;
}

.read_more {
    font-size: 2vh;
}

.plans_item_img {
    color: white;
    width: 10vh;
    height: 10vh;

}

.grid_3 {
    width: 5%;
    height: auto;
}

h3 {
    text-align: right;
    align-content: center;
    direction: rtl;
}